ACCOUNT_SID=ACxxx
AUTH_TOKEN=xxx
TRANSFER_CALLER_ID=  # Your Twilio Verified Outbound Number, used for adding participant to conference and for Studio-based transfers
WORKFLOW_SID= # Your Twilio Workflow SID
TWILIO_WORKSPACE_SID= # Your Twilio Workspace SID